/*================================================
Base Responsive CSS
=================================================*/
/* Max width (767px) */
@media only screen and (max-width: 767px) {
  .btn {
    font-size: 14px;
    padding: 14px 27px;
    -webkit-box-shadow: 0 5px 27px 0 rgba(163, 48, 53, 0.25);
            box-shadow: 0 5px 27px 0 rgba(163, 48, 53, 0.25);
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .section-title h2 {
    font-size: 25px;
  }
  .section-title .bar {
    height: 3px;
    margin: 18px auto 20px;
  }
  .main-banner {
    position: relative;
    height: 100%;
    padding-top: 110px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  .main-banner .hero-content h1 {
    font-size: 30px;
  }
  .main-banner .hero-content p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .main-banner .hero-content .video-btn {
    font-size: 14px;
    margin-left: 8px;
  }
  .main-banner .hero-content .video-btn i {
    font-size: 23px;
    margin-left: 3px;
  }
  .main-banner .hero-content form {
    max-width: 100%;
    position: relative;
  }
  .main-banner .hero-content form .btn {
    position: relative;
    width: 100%;
    display: block;
    margin-top: 13px;
    padding: 16px 0;
  }
  .main-banner .product-image {
    margin-top: 40px;
    position: relative;
  }
  .features-area.product-features .features-holder-content {
    margin-bottom: 40px;
    margin-top: 0;
  }
  .features-area.product-features .features-inner-area {
    margin-top: 40px;
  }
  .features-area.product-features .features-inner-area .features-image {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .features-area.startup-features .features-inner-area .features-image {
    margin-bottom: 40px;
    margin-top: 0;
  }
  .single-features {
    margin-bottom: 30px;
  }
  .single-features .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
  }
  .single-features h3 {
    font-size: 20px;
  }
  .features-inner-area {
    margin-top: 10px;
  }
  .features-inner-area .features-image {
    margin-bottom: 40px;
  }
  .features-inner-area .features-inner-content {
    max-width: 100%;
  }
  .features-inner-area .features-inner-content .features-item {
    padding-left: 65px;
  }
  .features-inner-area .features-inner-content .features-item .icon {
    width: 50px;
    height: 50px;
    line-height: 52px;
    font-size: 20px;
  }
  .features-inner-area .features-inner-content .features-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .single-features-box {
    padding: 20px;
  }
  .single-features-box .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
  }
  .single-features-box h3 {
    font-size: 20px;
  }
  .overview-box {
    margin-bottom: 40px;
  }
  .overview-box .overview-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
  }
  .overview-box .overview-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .overview-box .overview-content .icon {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
  }
  .overview-box .overview-content h3 {
    font-size: 21px;
  }
  .join-img {
    margin-bottom: 35px;
  }
  .join-content h3 {
    font-size: 20px;
  }
  .team-area {
    padding-bottom: 20px;
  }
  .single-team-member .team-content h3 {
    font-size: 20px;
  }
  .single-team-member .team-content img {
    width: 200px;
  }
  .single-feedback .client-info h3 {
    font-size: 20px;
  }
  .single-feedback-box .client-info h3 {
    font-size: 20px;
  }
  .single-blog-post .blog-post-content {
    padding: 20px;
  }
  .single-blog-post .blog-post-content h3 {
    font-size: 20px;
  }
  .subscribe-area .newsletter-form {
    max-width: 100%;
  }
  .subscribe-area .newsletter-form .btn {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 15px 0;
  }
  .subscribe-area .newsletter-form #validator-newsletter {
    position: relative;
    bottom: 0;
    font-size: 16px;
    margin-top: 15px;
  }
  .notfound {
    max-width: 100%;
    padding: 30px;
    position: relative;
    text-align: center;
    border-radius: 5px;
  }
  .notfound .notfound-404 {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
    text-align: center;
    margin: 0 auto;
    right: 0;
  }
  .notfound .notfound-404::before {
    display: none;
  }
  #contactForm {
    margin-top: 40px;
  }
  .footer-area .copyright-area {
    margin-top: 20px;
    text-align: center;
  }
  .footer-area .copyright-area ul {
    text-align: center;
    margin-top: 20px;
  }
  .footer-area .copyright-area ul li:first-child {
    padding-left: 0;
  }
  .subscribe-area {
    padding-bottom: 40px;
  }
}

/* Min width (768px) to Max width (991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-title h2 {
    font-size: 29px;
  }
  .main-banner {
    position: relative;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .main-banner .hero-content {
    margin-bottom: 45px;
  }
  .main-banner .hero-content h1 {
    font-size: 40px;
  }
  .main-banner .product-image img {
    text-align: center;
    position: relative;
    bottom: 0;
    right: 0;
  }
  .features-inner-area {
    margin-top: 25px;
  }
  .features-inner-area .features-image {
    margin-bottom: 55px;
  }
  .features-inner-area .features-inner-content .features-item h3 {
    font-size: 21px;
  }
  .features-area.startup-features .features-inner-area .features-inner-content {
    margin-top: 35px;
  }
  .features-area.startup-features .features-inner-area .features-image {
    margin-bottom: 0;
    margin-top: 45px;
  }
  .features-area .features-inner-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .single-features-box h3 {
    font-size: 21px;
  }
  .overview-section {
    top: 0px;
  }
  .overview-box .overview-content .icon {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
  }
  .overview-box .overview-content h3 {
    font-size: 21px;
  }
  .join-content h3 {
    font-size: 21px;
  }
  .single-feedback-box .client-info h3 {
    font-size: 21px;
  }
  .single-team-member .team-content img {
    width: 200px;
  }
  .single-team-member .team-content h3 {
    font-size: 21px;
  }
  .single-blog-post .blog-post-content h3 {
    font-size: 21px;
  }
  .team-area {
    padding-bottom: 20px;
  }
  #contactForm {
    margin-top: 45px;
  }
  .footer-area .copyright-area {
    margin-top: 50px;
  }
  .navbar-collapse {
    border: none !important;
    margin-top: 0 !important;
  }
  .crake-nav nav .navbar-brand img {
    max-width: 80px !important;
  }
}

/* Min width (992px) to Max width (1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-banner {
    position: relative;
    height: 100%;
    padding-top: 195px;
    padding-bottom: 160px;
  }
  .main-banner .hero-content h1 {
    font-size: 50px;
  }
  .features-inner-area .features-inner-content .features-item h3 {
    font-size: 20px;
  }
  .overview-box .overview-content h3 {
    font-size: 20px;
  }
}

/* Min width (1200px) to Max width (1350px) */
@media only screen and (min-width: 1200px) and (max-width: 1910px) {
  .main-banner {
    position: relative;
  }
}

/* Min width (1910px) */
@media only screen and (min-width: 1910px) {
  .main-banner {
    position: relative;
    height: 100vh;
  }
  .main-banner .product-image img {
    position: relative;
  }
}

@media only screen and (max-width: 991px) {
  .crake-nav {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1);
  }
  .crake-nav nav .navbar-brand img {
    max-width: 90px;
  }
  .navbar-collapse {
    background-color: #3e0f5e;
    border: 1px solid #eeeeee;
    margin-top: 15px;
  }
  .crake-nav nav .navbar-nav {
    padding: 10px 0;
  }
  .crake-nav nav .navbar-nav li {
    padding: 5px 0 !important;
  }
  .crake-nav nav .navbar-nav li a {
    font-size: 15px;
  }
  .navbar-light .navbar-toggler {
    border-color: #ffffff;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}
/*# sourceMappingURL=responsive.css.map */